body {
  font: 12px/1.5 "Roboto Condensed", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  height: 100%;
}

header {
  position: fixed;
  background-color: #35424a;
  color: #ffffff;
  padding-top: 20px;
  min-height: 50px;
  width: 100%;
  border-bottom: #e8491d 5px solid;
  transition: transform 0.5s;
  z-index: 1;
}

.header .site-nav--open {
  position: absolute;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

header li {
  text-align: 60 15;
  display: inline;
  padding: 0 10px 0 20px;
}

header .highlight,
header .current a {
  font-weight: bold;
  color: #e8491d;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

header.header-is-hidden {
  transform: translateY(-100%);
}

/* header {
  background: #1D1B1B;
  color: whitesmoke;
  padding: 1em 0;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

header h1{
 display: block;
 font-size: 1em;
 margin-right: auto;
 white-space: nowrap;
} */

header ::after {
  content: "";
  clear: both;
  display: block;
}

.site-nav {
  position: absolute;
  background-color: black;
  top: 100%;
  clip-path: circle(0px at top right);
  transition: all ease-in-out 900ms;
  right: 0%;
  left: auto;
  z-index: 1;
  min-width: 100%;
}

.site-nav--open {
  clip-path: circle(100%);
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 50px;
  text-align: center;
}

.site-nav li {
  text-align: center;
  padding: 0;
  margin: 0;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #ccc1e7;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.site-nav a :hover,
.site-nav a:focus {
  background: #e4b363;
  color: red;
}

.menu-toggle {
  position: absolute;
  right: 0.5em;
  top: 2.4em;
  cursor: pointer;
  z-index: 1;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #ebebd3;
  height: 3px;
  width: 2.5em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
  float: right;
  z-index: 1;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}
.open .hamburger {
  background-color: transparent;
}

.open .hamburger::before {
  transform: translateY(-3px) rotate(45deg);
}

.open .hamburger::after {
  transform: translateY(-6px) rotate(-45deg);
}

.hero {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero > * {
  position: relative;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: 0.8;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.outer {
  padding-top: 102px;
}

#showcase {
  min-height: 550px;
  background: url("https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80")
    no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  background-position: center;
  font-size: 40px;
  color: #ffffff;
}

/* Newsletter */

#newsletter {
  padding: 15px;
  color: #ffffff;
  background: #35424a;
  border-top: #e8491d 5px solid;
}

#newsletter h1 {
  float: left;
  margin-top: 10px;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
  margin: 0 0 15px;
}

/* sidebar*/
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
  font-size: 15px;
  padding: 10px;
}

/*main-col*/
article#main-col {
  float: left;
  width: 65%;
  font-size: 15px;
}

.container-2 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.boxes {
  flex: 0 15%;
  padding-top: 3rem;
  padding: 59px;
}

.boxes p {
  font-size: 1.2em;
  display: inline;
  margin: 0;
}

/*boxes*/
img {
  width: 70px;
  height: auto;
  display: block;
}

.box-usp {
  background-color: #36413d38;
  padding: 100px;
  text-align: inherit;
  font-size: 1.4em;
  list-style-position: inside;
  display: flex;
  background-position: center;
}

.textarea {
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
  color: #35424a;
}

.contact-section {
  background: url("https://images.unsplash.com/photo-1515895309288-a3815ab7cf81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")
    no-repeat center;
  background-size: cover;
  padding-top: 10px;

  border-bottom: #e8491d 5px solid;
  border-top: #34495e 5px solid;
}

.contact-section h1 {
  text-align: center;
  font-size: 37px;
  padding-top: 10px;
  color: #34495e;
}

.border {
  width: 100px;
  height: 10px;
  background: #39495e;
  margin: 40px auto;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  header h1 {
    display: none;
  }
  article#main-col {
    float: left;
    width: 100%;
    font-size: 15px;
  }
  aside#sidebar {
    float: right;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
  }

  .boxes {
    flex: 0 100%;
    padding: 0;
    margin: 15px;
    text-align: center;
    background: cadetblue;
  }

  img {
    display: inline;
    padding: 10px;
  }

  .container-2 {
    padding: 0;
    margin: 0;
  }

  .site-nav {
    height: auto;
  }
  .site-nav--open {
    width: 10%;
    opacity: 0.5;
  }

  .site-nav li {
    border: none;
  }

  .site-nav a {
    padding: 0;
    margin: 2em;
  }
}

@media (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }
  .site-nav--open {
    z-index: 1;
  }
  .site-nav {
    clip-path: initial;
    background: none;
    z-index: 1;
  }
  .site-nav ul {
    margin: 0;
    list-style: none;
    line-height: 50px;
    display: flex;
    justify-content: center;
    margin-top: -60px;
    margin-right: 10em;
    background: none;
  }

  .site-nav li {
    margin: 10px;
  }

  header h1 {
    display: none;
  }
}
